hello this is the login page

<form action="" method = "post">
	<input type="text" name = "username"></input>
	<input type = "password" name = "password"></input>
	<input type = "submit"></input>
</form>
<a href = 'signup'>signup</a>
